@import "tailwindcss";
@plugin "daisyui";


@font-face {
    font-family: "JosefinSans";
    src: url("./assets/font/JosefinSans-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-navBar: #1b2039;
    --color-primaryText: #26fcea;
    --color-mainBg: #14182a;
    --color-SecondaryText: #777777;

    --font-josefinSans: JosefinSans, "sans-serif";
}